*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
}
li{
    list-style: none;
}

$font-family-k: "楷体", sans-serif;
$font-family-w: "微软雅黑", sans-serif;
$d-list: 320px, 360px, 375px, 412px, 414px;
$design-width: 750px;
$theme-color: #db1a5b;
$hui-color: #b6b6b6;
$list-height: 70px;

$size: 18px;
$size-sm: 16px;
html{
    font-size: 100px;
}
body{
    font-size: 16px;
//  height: 1334px;
    background: #F3F4E7;
}

@each $w in $d-list{
    @media screen and (min-width: #{$w}){
        html{
            font-size: 100px * $w / $design-width;
        }
    }
}

///////////////////////////////////////////////
@mixin fixed($width, $height){
    width: $width;
    height: $height;
//  background: #000;
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 9;
    color: #fff;
}
@mixin icon($width, $height){
    display: block;
    width: $width;
    height: $height;
    background-position: center;
    background-repeat: no-repeat;
    font-style: normal;

      font-family:"iconfont" !important;
      font-size:$size;font-style:normal;
      -webkit-font-smoothing: antialiased;
      -webkit-text-stroke-width: 0.2px;
      -moz-osx-font-smoothing: grayscale;

}
@mixin left-right{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
@mixin top-bottom{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
@mixin fix{
    position: fixed;
    top: 0;
    bottom: 0;
}
@mixin list{
    height: $list-height;
    padding: 0 16px;
    border-bottom: 1px solid #F3F3F3;
    line-height: $list-height;
    
}
////////////////////////////////////////////////
@font-face {
  font-family: 'iconfont';
  src: url('iconfont.eot');
  src: url('iconfont.eot?#iefix') format('embedded-opentype'),
  url('iconfont.woff') format('woff'),
  url('iconfont.ttf') format('truetype'),
  url('iconfont.svg#iconfont') format('svg');
}

///////////////////////////////////////////////

#header{
    @include fixed(100%, 100px);
    top: 0;
   
}
 .list-box{
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    @include fix;
    z-index: 20;
    font-size: $size;
    color: #fff;
    transform: translateY(100%);
    transition: all 0.5s;
}
.list-box-active{
    transform: translateY(0);
}
.list-title{
   @include list;
    text-align: center;
   
}
 p, #header .music{
    @include left-right;
}
.icon{
    @include icon(auto, 100%);
    padding: 0 0.2rem;
    float: left;
}
.icon:last-child{
    float: right;
}
#list-huishou{
    @include list;
    .icon{
        @include icon(auto, 100%);
        padding: 0 0.2rem;
        float: right;
    }
}
.list li{
    @include list;
    padding: 0;
    .xuhao{
        width: $list-height;
        text-align: center;
        float: left;
    }
    .delete{
        width: $list-height;
        height: 100%;
        text-align: center;
        float: right;
        &:before{
            content: "";
            display: inline-block;
            width: 20px;
            height: 20px;
            background: red;
            border-radius: 50%;
            @include top-bottom;
        }
    }
    
}
.music{
    float: left;
    .name{
        line-height: 40px;
        font-size: $size;
    }
    .author{
        line-height: 20px;
        font-size: $size;
    }
}

.active{
    color: $theme-color;
}
#audio{
    top: 480px;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
}

#main{
    width: 100%;
//  height: 660px;
    overflow: hidden;
    @include fix;
    .zhao{
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
        position: absolute;
        top: 0;
    }
}

#foot{
    @include fixed(100%, 1rem);
    bottom: 0;
    .list-title{
        height: 1rem;
        line-height: 1rem;
    }
    #progress-box{
        width: 100%;
        padding: 15px;
        @include left-right;
        bottom: 100%;
        #currentTime, #duration{
            float: left;
            line-height: 30px;
            font-size: $size-sm;
            color: #fff;
        }
        #duration{
            float: right;
        }
        
    }
    #push-button{
        width: 4rem;
        height: 100%;
        @include left-right;
        #prev, #next{
            @include icon(0.8rem, 100%)
            float: left;
            font-size: $size;
            color: #fff;
            line-height: 1rem;
            text-align: center;
        }
        .play{
            width: 2.4rem;
            height: 100%;
            float: left;
            font-size: $size;
            color: #fff;
            line-height: 1rem;
            text-align: center;
            background: url(../img/play.png) no-repeat center;
            background-size: contain;
        }
    }
}
#progress, #vol{
    width: 5rem;
    height: 2px;
    background: #dcdcdc;
    @include top-bottom;
    left: 0;
    right: 0;
    #p-i, #v-i{
        width: 0;
        height: 4px;
        background: $theme-color;
        margin-top: -1px;
        &:before{
            content: "";
            display: block;
            width: 6px;
            height: 10px;
            background: #fff;
            border-radius: 3px;
            position: absolute;
            top: -3px;
            right: -3px;
        }
    }
}

.vol-box{
    @include fixed(100%, 1rem);
    background: #fff;
    bottom: 0;
    padding: 0 16px;
    line-height: 1rem;
    transition: all 0.2s;
    transform: translateY(100%);
    .icon{
        color: $hui-color;
    }
}

.vol-active{
    transform: translateY(0);
}
#vol{
    #v-i{
        width: 100px;
        color: $theme-color;
        &:before{
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: $theme-color;
            right: -5px;
        }
    }
}

